.quiz-item{
    margin: 5px 10px 10px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
    display:flex;
    column-gap: 20px;
    justify-content: space-between;
    width: 90%;
}

.view-results-container{
    background-color: white;
    text-align: center;
}

.title-style{
    margin-left: 10px;
}

.correct-answer{
    color: green;
}

.wrong-answer{
    color:red;
}
